<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <meta http-equiv='X-UA-Compatible' content='IE=edge'>
   <meta name='viewport' content='width=device-width, initial-scale=1 shrink-to-fit=no'>
   <meta name='description' content="You don't need to research which d3 modules you are using in your project any more!">
   <title>D3 Analizer</title>
   <link type="text/css" rel="stylesheet" href="/public/temp/Main.css"/>
   <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
   <script src="/socket.io/socket.io.js"></script>
</head>

   <body>    
      {% block content %}         
      {% endblock %}
       <script type="text/javascript" src="/public/temp/Scripts.js" async></script>
   </body>

</html>

