// Container & Layout
.container {
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #02ccba, #02b3e4);
  width: 100%;
  height: 101vh;
  z-index: 5;
  overflow-y: hidden;
}

.info {
  display: flex;
  justify-content: space-around;
  transform: translateY(120vh);
  transition: 0.8s ease-in;
  transition-delay: 1s;
  max-width: 1200px;
  margin: 100px auto 0 auto;
  padding-bottom: 50px;

  &__install {
    width: 30%;

    &-container {
      &-title {
        margin-left: 12px;
      }
    }
  }

  &__analize {
    width: 70%;
  }
}

// Search section
.search {
  &__title {
    margin-top: 0;
    padding-top: 100px;
    @include fontSize(19px);
    font-family: $title-font;
    text-align: center;
    transition: 0.7s;
    transition-delay: 0.5s;

    @include desktopSmall {
      @include fontSize(22px);
    }

    @include desktopMedium {
      @include fontSize(25px);
    }
  }

  &__form {
    width: 600px;
    margin: 0 auto;
    background: white;
    border-radius: $radius;

    &-textarea {
      border-radius: $radius;
      width: 100%;
      height: 400px;
      overflow-y: auto;
      font-family: monospace;
      padding: 20px;
      border: none;
      @include lineHeight(22px);
      transition: 1.2s;

      &::placeholder {
        font-style: italic;
        text-align: center;
        font-family: $font;
      }
    }

    &-button-frame {
      height: 160px;
      margin: 0 auto;
      padding-top: 15px;
      background: url("/public/images/click-animation.gif") no-repeat center
        35px;
      background-size: 150px;
      border-top: 1px solid $gray;

      &-button {
        border: none;
        background: $blue;
        border-radius: $radius;
        display: block;
        text-transform: uppercase;
        width: 200px;
        height: 42px;
        margin: 0 auto;
        color: white;
        letter-spacing: 0.07rem;
        font-size: 1.2rem;
      }
    }
  }
}

// Dynamic elements
.module {
  padding: 15px 0 0 12px;

  &__name {
    color: white;
    @include fontSize(16px);
    font-weight: 900;
  }

  &__install {
    border: 1px solid white;
    background: url("/public/images/cursor.svg") no-repeat 12px center;
    border-left: 7px solid white;
    border-radius: 3px;
    width: 270px;
    padding: 7px 0 7px 32px;
    font-family: monospace;
    background-size: 16px;
    margin: 7px 0;
    color: $black;
  }

  &__click {
    color: $black;
    @include fontSize(14px);
    cursor: pointer;

    &:hover {
      color: black;
    }
  }

  &__more {
    height: 0;
    overflow: hidden;
    transition: 2s;

    &-download {
      color: $black;
      @include fontSize(14px);
      font-style: italic;
      margin-bottom: 5px;

      span {
        font-style: normal;
      }
    }

    &-info {
      a {
        text-decoration: underline;
        color: $black;
        @include fontSize(14px);
        margin-top: 4px;
        display: block;

        &:hover {
          color: black;
        }
      }
    }
  }
}

// Charts
svg {
  display: block;
  margin: 0 auto;
}

#moduleSvg svg {
  padding-left: 35px;
  margin-bottom: 50px;
  padding-top: 15px;
}

.left-label {
  font-size: 0.9rem;
}

// Typography
.chart-title {
  color: black;
  font-family: $title-font;
  @include fontSize(22px);
}

// JS classes
.reverse-gradient {
  background-image: linear-gradient(to bottom right, #02b3e4, #02ccba);
}

.control-height {
  height: auto;
}

.hide-textarea {
  opacity: 0;
  height: 0;
}

.hide-search-title {
  padding-top: 0;
  opacity: 0;
}

.slide-info {
  transform: translateY(0);
}
