{% extends "partials/Layout.html" %}

{% block content %}
   <!-- main wrapper -->
   <section class="container" id="containerDiv">
    
     <!-- search section-->
     <section class="search">
        <h4 class="search__title" id="searchTitle">Analize d3 modules and methods in your code</h4>
        <form class="search__form" id="d3-form" method="post" action="/d3-code">
           <textarea  class="search__form-textarea" id="d3-textarea" name="code" placeholder=" Paste your javascript (d3) code here"></textarea>
           <div class="search__form-button-frame">
              <button class="search__form-button-frame-button" id="searchButton" type="submit">start</button>
           </div>
        </form>   
     </section>
   
    <section class="info" id="info">
       <!-- install guide-->
       <div class="info__install">
          <!-- scrapped package data will be inserted in this div -->
          <div id="package-container" class="info__install-container">
            <div class="info__install-container-title chart-title">D3 dependencies</div>
          </div>
       </div>
        <!-- analize code -->
        <div class="info__analize">
           <div id="moduleSvg">
              <svg class="svg"
                version="1.1"
                baseProfile="full"
                xmlns="http://www.w3.org/2000/svg" >
              </svg>
           </div>
           <div id="methodSvg">
              <svg class="svg"
                version="1.1"
                baseProfile="full"
                xmlns="http://www.w3.org/2000/svg" >
              </svg>
           </div>
        </div>
    </section>


   </section>

{% endblock %}