* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}

body {
  font-family: $font;
  color: white;
}
