// Font size as rem
@mixin fontSize($size) {
  font-size: calculateRem($size);
}

// Line height as rem
@mixin lineHeight($size) {
  line-height: calculateRem($size);
}

// Break points
@mixin desktopSmall {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin desktopMedium {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin desktopLarge {
  @media (min-width: 1420px) {
    @content;
  }
}
