// COLORS
$light-blue: #eafbff;
$blue: #02b3e4;
$gray: #e8e8e8;
$font-gray: #525c65;
$black: #333;

// FONTS
$font: "Helvetica Neue", "Arial", "Helvetica", sans-serif;
$title-font: "Abel", sans-serif;

// BORDER
$radius: 5px;
